@use '../../styles/mixins';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 var(--body-horizontal-padding);
  background-color: var(--color-background-header);
  transition: background-color var(--transition-color);
  --header-height: 85px;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #1a1818;

  &_container {
    @include mixins.container;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;

    .nav_menu {
      align-items: end;

      ul {
        li {
          a {
            margin: 0;
            padding: 0;
            position: relative;
            color: var(--color-background-header-link);
            font-weight: 700;
            letter-spacing: 0.05rem;

            &.active_link {
              color: var(--color-primary-hover);
            }

            &:hover {
              transition: 2ms ease-in;
              color: var(--color-primary-hover);
            }
          }
        }
      }
    }

    .nav_btn {
      display: flex;
      align-items: center;
    }

    @include mixins.max-width-query(md) {
      &::before {
        content: '';
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--header-height);
        background-color: var(--color-background-header);
        transition: background-color var(--transition-color);
      }

      .nav_menu {
        z-index: -2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.25rem 1.5rem 2rem;
        background-color: var(--color-background-header);
        box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
        transform: translateY(calc(-100vh + var(--header-height)));
        transition: transform 400ms ease-in-out;

        &.open {
          transform: translateY(var(--header-height));
        }

        &.close {
          ul {
            li {
              a {
                animation: hide-visibility 400ms ease-in-out forwards;

                @keyframes hide-visibility {
                  99% {
                    visibility: visible;
                  }

                  100% {
                    visibility: hidden;
                  }
                }
              }
            }
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          li {
            a {
              display: flex;
              flex-direction: column;
              align-items: center;

              &:hover {
                transition: 2ms ease-in;
                border-bottom: none;
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }

    @include mixins.min-mq(md) {
      .nav_menu {
        display: flex;
        justify-content: space-between;
        margin-left: auto;

        ul {
          display: flex;
          align-items: center;
          column-gap: 1.5rem;
          margin-right: 0.5rem;
        }
      }
    }

    @include mixins.min-mq(lg) {
      .nav_menu {
        ul {
          column-gap: 1.5rem;

          li a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
