.sectionHeader {
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-text-home);
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 2.5rem;
}
