@use "../../styles/mixins";

.home {
  padding: 65px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_greeting {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--color-text-subheading);
  }

  .title {
    font-size: clamp(1.5rem, 2.1vw, 2.5rem);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.25rem;
    color: var(--color-text-home);
  }

  .subtitle {
    font-size: clamp(1.1rem, 1.8vw, 1.5rem);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: var(--color-text-normal);
  }

  .greet {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    color: var(--color-text-home);
  }

  .download {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 1.5rem;
    transition: .3s;

    &_link {
      padding: 1rem;
      border-radius: 7px;
      font-weight: 900;
      color: var(--color-text-home);
      transition: .3s;

      &_icon {
        svg {
          animation: blinkingBackground 3s infinite ease-out alternate;
        }
      }

      @keyframes blinkingBackground {
        0% {
          fill: var(--color-text-home);
        }
        100% {
          fill: var(--color-primary);
        }
      }

      &:hover {
        color: var(--color-primary);
        transition: .3s;
      }
    }
  }
}
