@use "../../styles/mixins";

.contact {
  padding: 65px 0 30px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include mixins.min-mq(md) {
      flex-direction: row;
    }

    a {
      font-size: clamp(1.5rem, 2.5vw, 2.2rem);
      color: var(--color-icons);
      display: flex;
      gap: 0.5em;

      &:hover {
        color: var(--color-icons-hover);
      }
    }
  }

  .copy {
    border-top: 2px solid var(--color-icons);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding-top: .7rem;

    .viewers {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .made {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 1rem;

      &_creator {
        font-size: 1rem;
      }

      &_sign {
        font-size: .8rem;

        &_c {
          color: var(--color-primary);
        }
      }

    }
  }

}
