@use '../../styles/mixins';

.projects_wrapper {
  width: 100%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;

  .projects_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &_tab {
      text-align: center;
      margin-left: 1rem;
      border-radius: 5rem;
      cursor: pointer;
      padding: 12px 10px 7px 10px;
      font-weight: bold;

      &:first-child {
        margin-left: 0;
      }

      &_active {
        padding: 12px 10px 7px 10px;
        margin-left: 1rem;
        border: 1px solid var(--color-scroll-thumb);
        border-radius: 5rem;
        color: var(--color-scroll-thumb);

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .tab_active {
      padding: 12px 10px 7px 10px;
      margin-left: 1rem;
      border: 1px solid var(--color-scroll-thumb);
      border-radius: 5rem;
      color: var(--color-scroll-thumb);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .swiper {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;

    :global(.swiper-wrapper) {
      gap: 1.5rem;
    }

    :global(.swiper-slide) {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 300px;
      min-height: 300px;
      color: var(--color-background-revers);
      padding: 0.75rem;
      border-radius: 1.75rem;
      transition: 200ms ease-in-out;

      .project {
        opacity: 0;
      }
    }

    :global(.swiper-slide-active) {
      box-shadow: 0 0 0.5rem var(--color-scroll-thumb);
      background-size: 0;
      transition: 200ms ease-in-out;
      border-radius: 1.75rem;

      .project {
        opacity: 1;
      }

      &:hover {
        backdrop-filter: blur(5px);
      }
    }

    :global(.swiper-pagination-bullet) {
      background: var(--color-dot);
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 0.5rem;
      opacity: 1;
      transition: 200ms ease-in-out;
    }

    :global(.swiper-pagination-bullet-active) {
      background-color: var(--color-exp-line);
      width: 1.2rem;
      height: 0.75rem;
      border-radius: 0.5rem;
      transition: 200ms ease-in-out;
    }

    :global(.swiper-button-prev) {
      opacity: 0;
      @include mixins.min-mq(sm) {
        opacity: 1;
        position: absolute;
        left: 2rem;
        top: 1rem;
        color: var(--color-exp-line);
      }

      &:after {
        content: '\21E6';
      }

      &:hover {
        color: var(--color-dot);
      }
    }

    :global(.swiper-button-next) {
      opacity: 0;
      @include mixins.min-mq(sm) {
        opacity: 1;
        position: absolute;
        right: 2rem;
        top: 1rem;
        color: var(--color-exp-line);
        &:after {
          content: '\21E8';
        }
      }

      &:hover {
        color: var(--color-dot);
      }
    }

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;

      &_title {
        margin-bottom: 1rem;
      }

      &_description {
        &_title {
          margin-top: 0.5rem;
        }
      }

      .stack {
        display: flex;
        flex-wrap: wrap;

        font-style: italic;
        text-decoration: underline;
        margin: 0;

        li {
          margin-right: 0.7rem;
        }

        &:nth-child(1) {
          text-decoration: none;
        }
      }

      .links {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        width: 100%;
        text-decoration: none;

        a {
          color: var(--color-dot);

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
