@use "../../styles/mixins";

.projects {
  padding: 65px 0 30px;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mixins.min-mq(sm) {
      gap: 7.5rem;
    }
  }
}
