@use 'mixins';

/* Fonts */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  //font-weight: 300;
  src: url('../fonts/BarlowCondensed-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-body);
  letter-spacing: 0.05rem;
  background-color: var(--color-background);
  color: var(--color-text-normal);
  transition: background-color var(--transition-color),
  color var(--transition-color);
  overflow-x: hidden;
}

main {
  padding: 0 var(--body-horizontal-padding);

  section {
    @include mixins.container;
  }
}

/* CSS Variables */
/*Colors*/
:root {
  --color-primary: #aede23;
  --color-primary-hover: #20c2d7;
  --color-scroll-thumb: #20c2d7;
  --color-background-header: #2F2D2E;
  --color-background-header-link: #ffffff;
  --color-text-home: #ffffff;
  --color-text-subheading: #aede23;
  --color-text-normal: #20c2d7;
  --color-exp-line: #20c2d7;
  --color-background: #2E2E3A;
  --color-background-revers: #ffffff;
  --color-dot: #fc8508;
  --color-icons: #20c2d7;
  --color-icons-hover: #aede23;
  --transition-color: .5s linear;
  --font-family-body: 'Barlow Condensed', sans-serif;

  /*********** Padding ***********/
  --body-horizontal-padding: 1.5rem;

  @include mixins.min-mq(md) {
    --body-horizontal-padding: 3rem;
  }

  @include mixins.min-mq(lg) {
    --body-horizontal-padding: 6rem;
  }

  @include mixins.min-mq(xl) {
    --body-horizontal-padding: 10rem;
  }
}

[data-theme='dark'] {
  --color-primary: #fc8508;
  --color-primary-hover: #fc8508;
  --color-scroll-thumb: #fc8508;
  --color-background-header: #ffffff;
  --color-background-header-link: #2F2D2E;
  --color-text-home: #6fa8dc;
  --color-exp-line: #fc8508;
  --color-text-subheading: #100f0f;
  --color-text-normal: #1a1818;
  --color-background: #ffffff;
  --color-background-revers: #2E2E3A;
  --color-dot: #6fa8dc;
  --color-icons: #fc8508;
  --color-icons-hover: #6fa8dc;
  --transition-color: .5s linear;
}

/* Base Styles */
button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0.75rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
  //border-radius: 0.75rem;
}

/*----------*/
